/**
 * @file
 * DubBot block styles. These appear in the DubBot block.
 */

.block-dubbot-report .dubbot-report-link:before {
  background-image: url("../images/dubbot-favicon.svg");
}

.block-dubbot-report .dubbot-report-link {
  padding-left: 1.5rem;
  text-decoration: none;
  font-weight: bolder;
  position: relative;
  top: 0;
}

.block-dubbot-report .dubbot-report-link::before {
  position: absolute;
  top: 0;
  display: block;
  width: 1.25rem;
  height: 100%;
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: 100% auto;
}
