/**
 * @file
 * iframe styles. These appear when opening the DubBot report.
 */

#drupal-off-canvas-wrapper .dubbot-iframe {
  width: 500px;
  min-height: 500px;
}

.dubbot-iframe {
  width: 500px;
  min-height: 500px;
}

.iframe.dubbot-iframe {
	width: 100% !important;
	height: 100% !important;
}
