/**
 * @file
 * DubBot toolbar styles. These appear in the DubBot toolbar item.
 */

.toolbar .toolbar-bar .dubbot-report-link:before {
  background-image: url("../../../images/dubbot-favicon-bebebe.svg");
}

.no-svg .toolbar .toolbar-bar .dubbot-report-link:before {
  background-image: url("../../../images/dubbot-favicon-bebebe.png");
}

.toolbar .toolbar-bar span.dubbot-report-link {
  display: block;
  cursor: default;
}

.toolbar .toolbar-bar .toolbar-tab > span.dubbot-report-link:hover {
  text-decoration: none;
  background-image: none;
}
