<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
  "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="114.000000pt" height="114.000000pt" viewBox="0 0 114.000000 114.000000"
     preserveAspectRatio="xMidYMid meet">

  <g transform="translate(0.000000,114.000000) scale(0.100000,-0.100000)"
     fill="{{ color }}" stroke="none">
    <path d="M517 1124 c-4 -4 -7 -20 -7 -35 0 -23 -8 -32 -39 -49 -39 -19 -39
-19 -64 0 -14 11 -29 20 -33 20 -5 0 -25 -16 -46 -37 l-37 -36 19 -25 c24 -30
25 -44 5 -82 -11 -21 -23 -30 -47 -32 -32 -3 -33 -4 -36 -58 l-3 -55 167 -39
c146 -34 173 -38 213 -29 25 5 104 23 174 39 l128 28 -3 56 c-3 54 -3 55 -38
60 -28 4 -37 11 -48 42 -13 34 -13 39 6 65 l20 28 -33 38 c-37 42 -50 45 -81
17 -21 -20 -23 -20 -57 -4 -27 13 -38 26 -44 53 -8 35 -10 36 -59 39 -27 2
-53 0 -57 -4z m187 -180 c9 -3 16 -12 16 -19 0 -8 10 -15 23 -17 18 -2 22 -9
20 -33 -1 -16 2 -32 8 -35 13 -9 0 -40 -17 -40 -8 0 -14 -9 -14 -19 0 -23 -30
-36 -42 -19 -8 10 -11 10 -15 1 -8 -20 -44 -15 -50 6 -3 11 -11 17 -18 15 -17
-7 -40 32 -24 42 8 4 8 9 0 17 -18 18 -13 44 9 50 13 3 18 11 14 20 -6 18 24
31 50 21 9 -3 16 -1 16 5 0 13 3 13 24 5z m-193 -25 c5 -11 16 -19 23 -19 19
0 27 -25 13 -40 -9 -10 -9 -14 1 -17 19 -7 14 -31 -8 -43 -11 -6 -20 -17 -20
-24 0 -19 -32 -29 -42 -14 -8 10 -11 10 -15 1 -7 -20 -31 -15 -43 7 -6 11 -17
20 -24 20 -19 0 -29 32 -14 42 10 8 10 11 1 15 -20 8 -15 44 6 50 11 3 21 13
24 23 7 25 84 25 98 -1z" />
    <path d="M647 872 c-22 -24 -21 -35 1 -55 25 -23 48 -21 66 4 33 48 -28 94
-67 51z" />
    <path d="M432 878 c-32 -32 4 -87 48 -73 25 8 37 50 20 70 -15 18 -51 20 -68
3z" />
    <path d="M283 631 c5 -26 3 -29 -31 -39 -20 -6 -46 -13 -57 -14 -18 -3 -20
-11 -20 -70 0 -36 -3 -70 -7 -73 -4 -4 -3 -16 3 -26 6 -13 6 -25 -1 -39 -7
-13 -7 -26 -1 -37 9 -18 -4 -51 -26 -66 -8 -5 -13 -29 -13 -57 0 -43 3 -50 19
-50 11 0 23 9 26 20 9 27 51 27 60 -1 4 -12 14 -19 23 -17 22 4 30 87 10 103
-24 19 -36 50 -27 68 6 11 6 24 -1 36 -7 14 -7 22 0 26 6 4 10 21 8 38 -3 31
-2 32 36 32 l40 0 37 -148 c20 -82 40 -151 43 -154 3 -4 -1 -17 -10 -31 -15
-22 -14 -25 7 -48 21 -22 24 -23 40 -8 32 29 99 -3 99 -47 0 -15 7 -19 34 -19
30 0 35 4 41 29 3 17 16 33 31 40 33 15 44 14 66 -6 17 -15 20 -15 43 7 25 23
25 24 6 44 -18 21 -18 24 23 184 l41 163 35 -3 c33 -3 35 -5 32 -35 -2 -17 2
-34 8 -38 7 -4 7 -12 0 -26 -7 -12 -7 -25 -1 -36 9 -18 -4 -51 -26 -66 -8 -5
-13 -29 -13 -57 0 -43 3 -50 19 -50 11 0 23 9 26 20 9 28 51 27 58 -1 4 -13
12 -20 24 -17 14 2 19 14 21 51 2 26 -1 47 -7 47 -17 0 -39 56 -29 74 5 9 5
23 0 33 -5 10 -7 44 -6 75 2 32 -1 60 -6 63 -6 4 -5 13 2 24 16 26 3 51 -26
51 -14 0 -37 5 -51 12 -22 10 -25 16 -20 40 6 27 5 28 -32 28 -21 0 -78 -11
-128 -25 -112 -31 -158 -31 -264 0 -47 14 -103 25 -124 25 -38 0 -39 -1 -34
-29z m301 -88 c3 -10 14 -70 26 -133 11 -63 26 -128 32 -143 7 -17 7 -32 2
-35 -5 -4 -9 -16 -9 -27 0 -11 -7 -20 -15 -21 -8 0 -23 -4 -32 -9 -10 -4 -26
-4 -35 1 -10 4 -22 6 -27 5 -15 -3 -35 20 -29 35 3 8 0 14 -6 14 -6 0 -11 7
-11 15 0 8 4 15 9 15 4 0 20 62 35 138 15 75 29 143 31 150 6 18 23 15 29 -5z" />
  </g>
</svg>
